# Editor directories and files
**/.vscode/*
**/.idea/*
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?


**/node_modules/
**/package-lock.json

# Environment files
**/*.env.local
**/*.env.development.local
**/*.env.test.local
**/*.env.production.local
**/*.env.development
**/*.env.test
**/*.env.production

# Project specific .env files
/backend/.env
/backend/.env.*
/frontend/.env
/frontend/.env.*
/admin/.env
/admin/.env.*
