# Editor directories and files
**/.vscode/*
**/.idea/*
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?


**/node_modules/
**/package-lock.json

# Project specific .env files
/backend/.env
/backend/.env.*
/frontend/.env
/frontend/.env.*
/admin/.env
/admin/.env.*
